<!--
    ioBroker.vis TrashSchedule Widget-Set

    Version: '2.3.0'

    Copyright 2022 Matthias Kleine info@haus-automatisierung.com
-->
<link rel="stylesheet" href="widgets/trashschedule/css/style.css" />
<script type="text/javascript" src="widgets/trashschedule/js/trashschedule.js"></script>

<script id="tplTrashscheduleHelper"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplTrashscheduleHelper" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev trashschedule-widget" style="width: 105px; height: 275px;"><div class="trashtypes"><div class="trashtype"><span class="name">Restabfall</span><div class="dumpster"><span class="daysleft">3</span></div><span class="nextdate">Di., 10.3.</span></div></div></div>'
        data-vis-attrs="oid[trashschedule.0.type.json]/id;size[100]/slider,0,100,1;limit[0]/slider,0,10,1;glow/checkbox;glowLimit[1]/slider,0,10,1;showName[true]/checkbox;showDate[true]/checkbox;dateLocale[de-DE]/select,de-DE,en-US;dateWeekday[long]/select,hide,long,short"
        data-vis-set="trashschedule"
        data-vis-name="TrashSchedule">
    <div class="vis-widget trashschedule-widget <%== this.data.attr('class') %>" style="overflow: visible; width: 575px; height: 275px;" id="<%= this.data.attr('wid') %>">
        <% vis.binds.trashschedule.createWidget(this.data.wid, this.view, this.data, this.style); %>
        <div class="trashtypes"></div>
    </div>
</script>
