<!--
    ioBroker.vis TrashSchedule Widget-Set

    version: "0.0.7"

    Copyright 2020 Matthias Kleine info@haus-automatisierung.com
-->
<link rel="stylesheet" href="widgets/trashschedule/css/style.css" />
<script type="text/javascript" src="widgets/trashschedule/js/trashschedule.js"></script>

<script id="tplTrashscheduleHelper"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplTrashscheduleHelper" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev trashschedule-widget" style="width: 105px; height: 230px;"><div class="trashtypes"><div class="trashtype"><span class="name">Restabfall</span><div class="dumpster"><span class="daysleft">3</span></div><span class="nextdate">Dienstag, 10.3.</span></div></div></div>'
        data-vis-attrs="oid/id;size/slider,0,100;glow/checkbox"
        data-vis-set="trashschedule"
        data-vis-name="TrashSchedule">
    <div class="vis-widget trashschedule-widget <%== this.data.attr('class') %>" style="overflow: visible; width: 500px; height: 250px;" id="<%= this.data.attr('wid') %>">
        <% vis.binds.trashschedule.createWidget(this.data.wid, this.view, this.data, this.style); %>
        <div class="trashtypes"></div>
    </div>
</script>