![Logo](../../admin/trashschedule.png)

# ioBroker.trashschedule

## Jumomind (MyMüll)

{{#jumomind}}
- {{{title}}}
{{{cities}}}
{{/jumomind}}

## Abfall.io

{{#abfallio}}
- {{{title}}}
{{{cities}}}
{{/abfallio}}

## Awido.de

{{#awido}}
- {{{title}}}
{{/awido}}
